services:
  myapp:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./instance:/app/instance
    develop:
      watch:
        - action: sync+restart
          path: ./app
          target: /app/app
        - action: rebuild
          path: ./requirements.txt