services:
  myapp:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./instance:/app/instance
    environment:          # <-- add this here
      FLASK_ENV: development
      FLASK_DEBUG: "1"
    develop:
      watch:
        - action: sync+restart
          path: ./app
          target: /app/app
        - action: rebuild
          path: ./requirements.txt
