{% extends 'base.html' %} 

{% block title %}Request Volunteers{% endblock %}

{% block content %}
<h1>
    Request Volunteers
    <h3>Please fill out the form below to request volunteers for your opportunity:</h3>
    <form id="Opportunity Form" method="post" action="{{ request.path }}">
        <div class="mb-3">
            <label for="title" class="form-label">Opportunity Title</label>
            <input type="text" name="title" placeholder="Opportunity Title" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" placeholder="Description" required></textarea>
        </div>
        <div class="mb-3">
            <form action="/submit-form" method="post">
            <label for="org-id">Choose an organization:</label>
            <select id="org-id" name="org-id">
                {% for org in org_options %}
                    <option value="{{ org.org_id }}">{{ org.org_name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Submit</button>
            </form>
        </div>
    </form>
</h1>

{% endblock %}