{% extends 'base.html' %} 

{% block title %}Request Volunteers{% endblock %}

{% block content %}
<div class="row justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="card-title mb-3 text-center">Tell us about your opportunity:</h4>
                <form method="post" action="{{ request.path }}">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Opportunity Title" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" name="description" placeholder="Description" required>
                    </div>
                    <div class="mb-3">
                        <label for="org-id" class="form-label">Select Organization</label>
                        <select class="form-select form-control" id="org-id" name="org-id">
                            {% for org in org_options %}
                                <option value="{{ org.org_id }}">{{ org.org_name }}</option>
                            {% endfor %}
                        </select>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Create Opportunity</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}