{% extends 'base.html' %} 

{% block title %} VolunTold {% endblock %}

{% block content %}
<div class="container mt-5 mx-2">
    <h2> {{ opportunity.title }} </h2>
    <h5> By <a href="{{ opportunity.org_id }}">{{ opportunity.get_org().org_name }}</a></h5>
    <hr>
    <section class="mt-5">
        <h4>Description</h4>
        <p> {{ opportunity.description }} </p>
    </section>
    <hr>
    <section class="mt-5">
        <h4>Pledged Volunteers</h4>
        <div class="list-group">
        {% for user in opportunity.get_pledged_users() %}
            <a href="{{ url_for('user.user_detail', user_id=user.user_id) }}" class="list-group-item list-group-item-action">{{ user.username }}</a>
        {% else %}
            <p>No volunteers have pledged for this opportunity yet.</p>
        {% endfor %}
        </div>
</div>
{% endblock %}