{% extends 'base.html' %} 

{% block title %} VolunTold {% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron jumbotron-fluid text-center my-4">
        <h1>{{ opportunity.title }}</h1>
        <h5> By <a href="{{ url_for('org.org_detail', org_id=opportunity.org_id) }}">{{ opportunity.get_org().org_name }}</a></h5>
        {% if current_user.is_authenticated and not opportunity.is_pledged_by(current_user) %}
        <form method="post" action="{{ url_for('opportunity.pledge', opp_id=opportunity.opp_id) }}">
            <button type="submit" class="btn btn-primary">Pledge for Opportunity</button>
        </form>
        {% elif current_user.is_authenticated and opportunity.is_pledged_by(current_user) %}
            <p>You have pledged for this opportunity.</p>
        {% else %}
            <p><a href="{{ url_for('auth.login') }}">Log in</a> to join this organization.</p>
        {% endif %}
    </div>
    <hr>
    <h3>Description</h3>
    <p class="autowrap"> {{ opportunity.description }} </p>
</div>
{% endblock %}