{% extends 'base.html' %} 

{% block title %} {{organization.org_name}} {% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron jumbotron-fluid text-center my-4">
        <h1> {{ organization.org_name }} </h1>
        <h5> By <a href="{{ url_for('users.user_profile', username=ownername) }}">{{ ownername }}</a></h5>
        {% if current_user.is_authenticated %}
        <form method="post" action="{{ url_for('org.join_org', org_id=organization.org_id) }}">
            {% if current_user.is_authenticated and not organization.is_member_of(current_user) %}
                <button type="submit" class="btn btn-primary">Join Organization</button>
            {% elif current_user.is_authenticated and organization.is_member_of(current_user) %}
                <p>You are a member of this organization.</p>
            {% else %}
                <p><a href="{{ url_for('auth.login') }}">Log in</a> to join this organization.</p>
            {% endif %}
        </form>
        {% else %}
            <p><a href="{{ url_for('auth.login') }}">Log in</a> to join this organization.</p>
        {% endif %}
    </div>
    <hr>
    <section class="container mt-3 mb-3">
        <h3 class="mb-3">Opportunities</h2>
        <div class="card-deck row">
            {% for opp in organization.get_opportunities() %}
                <div class="card col-sm-2 mx-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ opp.title }}</h5>
                        <p class="card-text">{{ opp.small_description() }}</p>
                        <a href="{{ url_for('opportunity.opp_detail', opp_id=opp.opp_id) }}" class="btn btn-primary">View Details</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">By <a href="{{ url_for('org.org_detail', org_id=opp.org_id) }}">{{ opp.get_org().org_name }}</a></small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}