{% extends 'base.html' %} 

{% block title %}Home{% endblock %}

{% block content %}
<h1>{{user.username}}'s Profile</h1>
{% if current_user and not user==current_user %}
    {% if is_friend %}
        <form method="post" action="{{ url_for('users.remove_friend', username=user.username) }}">
            <button type="submit" class="btn btn-danger">Remove Friend</button>
        </form>
    {% else %}
        {% if is_pending_friend %}
            <p>Friend Request Sent</p>
        {% elif has_request_from %}
            <form method="post" action="{{ url_for('users.accept_friend', username=user.username) }}">
                <button type="submit" class="btn btn-success">Accept Friend Request</button>
            </form>
        {% else %}
            <form method="post" action="{{ url_for('users.add_friend', username=user.username) }}">
                <button type="submit" class="btn btn-primary">Add Friend</button>
            </form>
        {% endif %}
    {% endif %}
{% endif %}
<hr>
<section>
    <h3>Organizations {{ user.get_org_count_label() }}</h3>
    <div class="list-group">
        {% for organization in user.get_orgs() %}
            <p><a href="{{ url_for('org.org_detail', org_id=organization.org_id) }}" class="list-group-item list-group-item-action">{{ organization.org_name }}</a></p>
        {% endfor %}
    </div>
</section>
<hr>
<section>
    <h3>Pledges</h3>
    {% for pledge in user.get_pledges() %}
        <p>
            Pledged to <a href="{{ url_for('org.org_detail', org_id=pledge.opportunity.org.org_id) }}">{{ pledge.opportunity.org.org_name }}</a> for opportunity 
            <a href="{{ url_for('opportunities.opportunity_detail', opportunity_id=pledge.opportunity.opp_id) }}" >{{ pledge.opportunity.title }}</a>
        </p>
    {% endfor %}
</section>
{% endblock %}